body{
    background-image: url(./showroom.jpg);
    margin: 0px;
}

table{
    font-size: 15px;
    margin-left: 300px;
    font-family: 'Segoe UI';
    border-collapse: collapse;
}
td{
    padding: 1em 1.6em 1em 2.6em;
    background-color: white;
    border-bottom: 3px solid rgb(246, 247, 249);
}
th{
    color: rgb(137, 141, 144)
}
#top_bar{
    width: 100%;
    padding-left: 1em;
    display: inline-block;
    background-color: rgb(0, 0, 0);
    border: none;
}

#showroom{
    vertical-align: 15px;
    font-size: 1.7em;
    color: white;
    margin: 0 5px;
    text-transform: capitalize;
    font-family: Verdana;
}

#search{
    color: rgb(165, 165, 165);
    vertical-align: 1.3em;
    padding: .5em 1em;
    width: 17%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}
#search_icon{
    height: 15px;
    width: 15px;
    vertical-align: 15px;
    padding-left: 22%;
}
aside{
    width: 22%;
    height: 120%;
    position: absolute;
    border: none;
    background-color: black;
}
aside ul li{
    display: inline-block;
    list-style-type: none;
    width: 100%;
    font-size: 20px;
    padding: 8%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI';
}
aside ul li:hover{
    background-color: rgb(244, 244, 244);
    width: 50%;
    color: red;
    border-left: 5px solid rgb(255, 0, 0);
    cursor: pointer;
}
aside ul{
    padding: 0;
    margin-top: 20px;  
}
#heading{
    font-weight: normal;
    font-size: 20px;
    color: rgb(51, 51, 51);
    margin-left: 300px;
    font-family: Verdana;
}
#middle p{
    font-family: 'Segoe UI';
    font-size: 20px;
    margin-left: 300px;
}
#middle p, #heading, #product_list, #head th{
    color: white;
}
#product_list{
    display: inline-block;
    margin-left: 300px;
    font-family: Tahoma;
    font-weight: lighter;
}